@import url('https://fonts.googleapis.com/css2?family=Gugi');
.avatarstyle{
    width: 350px;
    height: 220px;
}
.mainpage{
    width:90%;
    height:100vh;
    margin: auto;
    font-family: 'Gugi', cursive;
}
.mainpage h1{
    margin: 0;
    padding: 20px 0;
    text-align: center;
}